* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.mylogo {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  size: 18px;
  line-height: 20px;
  font-style: normal;
  color: #6070ff;
}

.menu-icon {
  display: block;
  color: #6070ff;
}

.menu-list {
  display: none;
}

.header {
  background: #fff;
  height: 732px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url('images/header-shapes\ mobile.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.heading {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  margin-top: 100px;
  margin-left: 24px;
  color: #172b4d;
}

.description {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-left: 24px;
  color: #344563;
}

.btn-connect {
  width: 117;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 25px;
  margin-left: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* card section Css */
.card-section {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  border: 1px solid #dfe1e6;
  background: #e5e5e5;
  justify-content: center;
}

.card-section .card {
  width: 327px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
  border-radius: 16px;
  margin-top: 114px;
  background: #fff;
}

.card-section .card .card-heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-section .card .card-heading img {
  display: block;
  width: 295px;
  height: 220px;
  margin-top: 16px;
  border-radius: 8px;
}

.card-section .card .card-heading .imgdisk {
  display: none;
}

.card-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 13px;
}

.card-body .card-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700px;
  font-size: 40px;
  line-height: 44px;
  color: #172b4d;
}

.card-body .card-author {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.card-body .card-author .heading5 {
  font-family: 'Poppins', sans-serif;
  font-family: 600px;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  color: #344563;
}

.card-author .author-details {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #c1c7d0;
}

.card-description {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card-languages {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 4px 12px;
  text-align: center;
}

.language-item {
  font-family: 'Poppins', sans-serif;
  font-weight: 500px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 5px 8px;
}

.language-item1 {
  width: 53px;
  height: 24px;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.language-item2 {
  width: 45px;
  height: 24px;
}

.language-item3 {
  width: 89px;
  height: 24px;
}

.btn-card-one {
  width: 100px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500px;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 12px;
}

.btn-card-one:active {
  background-color: #051c55;
  color: white;
}

.btn-card-one:hover {
  background-color: #396df2;
  color: white;
}

/* Second Card Section Two Css */

/* About section start  */
.about-section {
  margin-top: 80px;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border: 0.01px solid white;
  border-top-right-radius: 200px;
}

.about-section h1 {
  margin-top: 114px;
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  color: #172b4d;
}

.about-section .about-desc {
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.about-section .btn-connect {
  width: 117;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.about-section .btn-card-one {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 150px;
  padding: 20px;
  background-color: #fff;
  color: #396df2;
  border-radius: 1px solid #396df2;
  margin-bottom: 100px;
}

.div-languages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.div-languages .language {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.div-languages .lang-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background: #f7f7f9;
  width: 303px;
  height: 66.72px;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.div-languages .framworks {
  width: 303px;
  height: 30.72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 6px;
}

.div-languages .framworks span {
  font-size: 25px;
}

.footer-section {
  width: 100%;
  height: auto;
  background: #fff;
}

.footer-form {
  display: flex;
  flex-direction: column;

  /* margin-top: 100px; */
  align-items: center;
  background: #6070ff;
  border-top-left-radius: 104px;
}

.footer-bg {
  display: flex;
  flex-direction: column;
  background-image: url(images/footerbg.png);
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: 61%;
  background-position-x: right;
  background-position-y: 50px;
  padding: 20px;
}

.form-heading {
  display: flex;
  flex-direction: column;
  margin-top: 103px;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 80px;
}

.contact-detail {
  width: 327px;
  height: auto;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.name {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  gap: 30px;
  margin-top: 50px;
}

.email {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  gap: 30px;
  margin-top: 20px;
}

.textarea {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
  height: 140px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #b3bac5;
  gap: 30px;
  margin-top: 20px;
}

.btn-touch {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  width: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  gap: 30px;
  margin-top: 20px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-bottom: 50px;
}

.line {
  width: 90%;
  height: 1px;
  background: #dfe1e6;
}

/* About section End  */

/* Desktop version Start  */

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
  }

  .menu-icon {
    color: #6070ff;
    display: none;
  }

  .menu-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-right: 20px;
  }

  .header {
    width: 100%;
    background: #fff;
    height: 732px;
    display: flex;
    flex-direction: column;
    background-image: url('images/headerbgdisktop.svg');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 100px;
  }

  .navbar {
    padding-inline-start: 150px;
    padding-inline-end: 150px;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom-left-radius: 50px;
  }

  .heading {
    width: 400px;
    height: 122px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .disktop-heading {
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 606px;
    height: 445px;
    margin-top: 93px;
  }

  .description {
    width: 581px;
    height: 74px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #344563;
  }

  .btn-connect {
    width: 125px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
  }

  .card-section .card {
    width: auto;
    height: 333px;
    display: flex;
    flex-direction: row;
  }

  .card-body .card-title {
    width: 496px;
    height: 49px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 67px;
    color: #091e42;
  }

  .card-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfe1e6;
    background: #e5e5e5;
    justify-content: center;
    padding-bottom: 80px;
  }

  .order-1 {
    order: 1;
  }

  .order-0 {
    order: 0;
  }

  .card-section .card .card-heading img {
    display: block;
    width: 295px;
    height: 326px;
    margin-top: 0;
    border-radius: 8px;
  }

  .card-description {
    width: 370px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #344563;
  }

  .btn-card-one {
    width: 100px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    margin-top: 30px;
  }

  .about-section h1 {
    margin-top: 0;
    width: 178px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 44px;
    color: #172b4d;
  }

  .about-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .row-language {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .row-language .lang-card {
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 10px;
  }

  .line {
    width: 85%;
    height: 1px;
    background: #dfe1e6;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 10px;
  }

  .language-container {
    width: 50%;
    margin-top: 130px;
  }

  .div-languages .framworks {
    width: 80%;
  }

  .footer-bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/contact-form.png);
    background-size: 96%;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-author .author-details {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .about-section .about-desc {
    width: 447px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
  }

  .contact-detail {
    width: 569px;
    height: 102px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
  }

  .about-section .btn-card-one {
    width: 140px;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
  }

  .name {
    width: 440px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .email {
    width: 440px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .textarea {
    width: 440px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
    padding: 15px;
    height: 140px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #b3bac5;
    gap: 30px;
    margin-top: 20px;
  }

  .down-arrow {
    display: flex;
    flex-direction: row;
    width: 530px;
    font-size: 20px;
    justify-content: space-between;
  }
}

/* Desktop version End  */
